body {
    margin: 0;
    position: relative;
    background: #9eb3c8;
}

header {
    padding: 0px;
    margin: 0px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #08065B;
}

body header h1 {
    display: inline;
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex: 200px;
}

.container .bottom {
    display: flex;
    justify-content: space-around;
    
}

 .box {
    background-color: #d6d6d9;
    margin: 0 5px 10px 5px;
    height: 230px;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 10px 4px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
}

.container .top .box .content {
    background-color: #ffffff !important;
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
}

.container .top .box .btn-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 5px;
}

.container .bigger {
    justify-content: space-between;
    display: fleg;
    flex-direction: row;
    width: 100%;
    
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.45);
}


.split2 {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    padding-left: 100px;
}

.split2-up {
    display: flex;
    justify-content: center;
}

.split2-down {
    display: flex;
    justify-content: center;
}

.laptop-specs {
    padding: 0;
}

.laptop-image {
    align-items: center;
    display: flex;
    flex: 2;
    justify-content: center;
    margin: 0;
    height:100%;
}

.btn-extra {
    display: flex;
    margin-top: auto;
}

#specs-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    margin-right:1px;
    margin-bottom:11px;
    overflow: scroll;
}

#specs-list {
    margin: 0;
    padding-top: 15px;
}

.right-left {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.bank {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    display: flex;
    justify-content: center;
}

img {
    object-fit: contain;
    width: 160px;
    height: 160px;
    padding: 30px;
}

select {
    background-color: #ffffff;
    color: #000000;
}

button {
    background: #083a43;
    border-radius: 15px;
    margin: 0 15px 0 15px;
    cursor: pointer;
    border: double;
}

button:active {
    transform: scale(0.95);
    border: none;
}

@media screen and (max-width : 750px) {
    
    img {
        width: 90px;
        height: 90px;
        padding: 10px;
    }

    .split2 {
        font-size: 10px;
        flex: 2;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
        padding: 20px;
        margin-right: 5px;
    }
}

#my-name {
    text-transform: capitalize;
    /* text-transform: uppercase; */
}

#button-getLoan {
    background-color: #64e696;
}

#button-bank {
    background-color: rgb(236, 224, 47);
}

#button-work {
    background-color: rgb(52, 102, 160);
}

#button-repay {
    background-color: rgb(206, 7, 7);
}

#button-buy {
    background-color: rgb(159, 2, 2);
    size:50%
}

